@charset "UTF-8";
@import "./variables";
// @import url('https://fonts.googleapis.com/css?family=Audiowide');
// My main Sass file.
$mdc-theme-primary: lightcoral;
$mdc-theme-secondary: gray;
$mdc-theme-background: #fff;

@import "material-components-web/material-components-web";

*{box-sizing: border-box;}
body,
html {
    margin: 0;
    height: 100%;
    width:100%;
}

h1 {
    font-size: 1.1em;
    font-weight: 550;
}

.app-info {
    font-size: 1.2em;
}


/*
    Camera
*/
#camera div {
    width: 100%;
    text-align:center;
}
#camera video, #camera canvas {
    display: block;
    width: 300px;
    margin:auto;
    border: solid 1px black;
}

// responsive slide in navigation
#side-navbar-icon, #mobile-side-navbar{
    display:none;
}

@media only screen and (max-width: 1200px) {
    #side-navbar-icon, #mobile-side-navbar{
        display:initial;
    }
    #toolbar-tab-bar{
        display:none;
    }
}