@charset "UTF-8";
@import "./variables";
@import url('https://fonts.googleapis.com/css?family=Audiowide');

body,
html {
    margin: 0;
    background-color: $background-color;
    color: $body-color;
    height: 100%;
}

h1 {
    font-size: 1.1em;
    font-family: Audiowide;
}

.app-info {
    font-size: 1.15em;
    font-family: Audiowide;
}

/*
    Camera
*/
#camera div {
    width: 100%;
    text-align:center;
}
#camera video, #camera canvas {
    display: inline;
    max-width: 300px;
    margin:auto;
}
